img{
    border-radius: 10px;
    transition: all 0.3s ease;
}

img:hover{
    transform: translateY(-10px);
    box-shadow: 0px 15px 20px #4d4d4d;
}
span{
    display: block;
    color: #6B8E6E;
}
.flex-container{
    display:flex;
    flex-wrap: wrap;
    align-items: flex-start;
    padding-left: 0px;
}
.flex-container .list-group-item{
    background-color: #6B8E6E;
    border-radius: 6px;
    border-color: white;
    color: aliceblue;
    
}
.flex-container .list-group-item:hover{
    transition: ease-out 0.5s;
    background: linear-gradient(
    82.3deg,
    rgba(150, 93, 233, 1) 10.8%,
    rgba(99, 88, 238, 1) 94.3%);
    transform: translateY(-7px);
    
}
.list-group-item{
    background-color: inherit;
    border:0;
    color: inherit;
}
.btn{
    color: inherit;
    border-radius: 10px;
    
    border-width: 2px;
    
}
.btn:hover{
    background-color: #6B8E6E;
    border-color: whitesmoke;
}
.btn:after{
    background-color: #555443;
    border-color: whitesmoke;
}



